<!DOCTYPE html>
<html lang="en" ng-app="searchApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hybrid Semantic Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module("searchApp", [])
            .controller("SearchController", ['$scope', '$http', function($scope, $http) {
                $scope.searchResults = [];

                $scope.performSearch = function() {
                    $http.post("/search", { query: $scope.query, top_k: 10, rerank_k: 5, search_type: $scope.search_type })
                        .then(function(response) {
                            $scope.searchResults = response.data.result;
                        });
                };
            }]);
    </script>
</head>
<body ng-controller="SearchController">
    <h1>Hybrid Semantic Search</h1>

    <label for="searchBox">Enter your search:</label>
    <input type="text" id="searchBox" ng-model="query">
    
    <!-- For Search Type -->
    <label for="searchType">Search Type:</label>
    <select id="searchType" ng-model="search_type">
        <option value="text">Text</option>
        <option value="image">Image</option>
        <option value="audio">Audio</option>
        <option value="video">Video</option>
    </select>

    <button ng-click="performSearch()">Search</button>

    <div ng-repeat="result in searchResults">
        <p><strong>Text:</strong> {{ result.text }}</p>
        <p><strong>Score:</strong> {{ result.score }}</p>
        <hr>
    </div>

    <footer>
        Hybrid Semantic Search - Powered by FastAPI, Elasticsearch, FAISS, and AngularJS.
    </footer>
</body>
</html>
