POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEBEZIUM_VERSION=2.4

ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme

# STACK_VERSION=8.7.1
STACK_VERSION=7.17.7
CLUSTER_NAME=docker-cluster

LICENSE=basic

ES_INDEX=topic_text.public.chunks
ES_HOST=localhost
ES_PORT=9200
KIBANA_PORT=5601

FAISS_PORT=8000
FAISS_HOST=localhost

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=3000000000
KB_MEM_LIMIT=1000000000
LS_MEM_LIMIT=1000000000

# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2